@using TravelTripProje.Models.Sınıflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Listesi</h2>

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KULLANICI</th>
        <th>MAİL</th>
        <th>YORUM</th>
        <th>BLOG</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.KullaniciAdi</td>
            <td>@x.Mail</td>
            <td>@x.Yorum</td>
            <td>@x.Blog.Baslik</td>
            <td><a href="/Admin/YorumSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="///" class="btn btn-primary">Yeni Blog Ekle</a>